.news-card .card-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.news-card .card-action .favorite-btn {
    color: red;
}

.news-card .card-action .remove-btn {
    color: rgba(255, 0, 0, 0.53);
}

.news-card .card-action .open-btn {
    color: rgb(0, 0, 0);
}

.news-card .card-action .favorite-btn:hover {
    color: lawngreen;
}

.news-card .card-action .remove-btn:hover {
    color: rgb(255, 0, 0);
}

.news-card .card-action .open-btn:hover {
    color: rgb(255, 57, 204);
}

.paginateBox{
    display: flex;
    justify-content: center;
}

.dropdown-content{
    min-width: 140px;
}

.card{
    font-size: 1rem;
}

.card .card-content{
    font-size: .8em;
}

.card.large {
    height: 550px;
}

.get-topbtn{
    position: fixed;
    bottom:20px;
    right: 20px;
}
